
/*

Primary color #1:
Primary color #2: 
Primary color #3: 
Primary color #4: 
Primary color #5: 
Primary color #6: 
Secondary color: 

*/

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    background-color:rgb(244, 246, 248);
    font-family:Arial, Helvetica, sans-serif;
    max-width: 1200px; /* responsive padding */
    padding: 0 20 0 20;
    margin: 0 auto;
    
}

.divider {
    border-bottom: 1px solid grey;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg); 
    margin-left: 10px;
}

/* Nav bar */

.logo > img {
    width: 200px;
    height: 40px;
}

.logo > img:hover, .nav-bar button {
    cursor: pointer;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.nav-bar button {
    font-weight: bold;
}

.nav-bar button, input {
    border: none;
    padding: 7px 10px;
    margin: 0 5px;
    border-radius: 5px;
    font-size: 14px;
}

.nav-bar input {
    border: 1px solid;
}

.logo button {
    background-color: rgb(209, 245, 245);
    color:rgb(39, 175, 141)
}

.dangnhap {
    background-color: rgb(0, 172, 129);
    color: white;
}

.dangnhap:hover {
    background-color: rgb(0, 124, 93);
}

.dangky {
    background-color: transparent;
    border: 1px solid !important;
    border-color: rgb(0, 172, 129);
    color: rgb(0, 172, 129);
}

.dangky:hover {
    background-color: rgb(203, 248, 237);;
}

.setting:hover {
    background-color: rgb(209, 229, 247);
}

.logo button:hover {
    background-color: aqua;
}

.dropdown-content {
    display: none;
    position: absolute;
    color: black;
    top: 51px;
    z-index: 1;
}

.dropdown-content p:hover {
    background-color: rgb(206, 206, 206);
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
    background-color: rgb(247, 247, 247);
    display: block;
    text-align: left;
    padding: 5px 5px;
    border-radius: 5px;
}

.logo {
    display: flex;
    align-items: center;
}

.search-bar {
    margin-bottom: 10px;
}


/* Slideshow */

.slideshow {
    background-color: rgb(177, 247, 220);
    padding: 40px 20px;
    margin: 20px 0;
    border-radius: 7px;
}

.heading-1, .description-1 {
    padding-bottom: 20px;
}

.slideshow button {
    background-color: transparent;
    color: rgb(0, 112, 69);
    border-color: rgb(0, 112, 69);
    padding: 7px;
    border-radius: 7px;
}

.slideshow button:hover {
    background-color: rgb(232, 248, 246);
    cursor: pointer;
}

.slideshow .arrow {
    color: rgb(0, 207, 128);
    cursor: pointer;
}

/* Articles */

.heading-2 {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}

.list-article {
    display: grid;
    grid-template-columns: auto auto auto auto;
    border-radius: 10px;
    gap: 20px;
}

.heading-2 button {
    border: none;
    background-color: rgb(183, 252, 252);
    color:rgb(29, 153, 122);
    font-weight: bold;
    padding: 0 10px;
    font-size: 14px;
    border-radius: 7px;
}

.heading-2 button:hover {
    background-color: rgb(119, 167, 167);
    color: white;
    cursor: pointer;
}

.item-1 > img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 14px;
}

.item-1 {
    background-color: #FFFFFF;
    height: auto;
    width: 100%;
    border-radius: 14px;
}

.register {
    display: flex;
    justify-content: space-between;
}

.register, .description-2, .heading-3 {
    margin: 0 20px;
}

.free {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: rgb(231, 100, 122);
}

.register button {
    border: none;
    background-color: rgb(0, 199, 199);
    color: white;
    padding: 7px 7px;
    border-radius: 5px;
}

.register button:hover {
    background-color: rgb(0, 133, 133);
    cursor: pointer;
}

.heading-3 {
    color:rgb(0, 63, 39);
    padding: 20px 0;
}

.description-2, .register {
    padding-bottom: 10px;
}

span {
    color: cyan;
}

/* Responsive */

@media only screen and (max-width: 1050px) {
    .logo button {
        display: none;
    }
    .list-article {
        display: grid;
        grid-template-columns: auto auto;
    }
    .slideshow {
        text-align: center;
    }
}