.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  padding: 0 2rem;
  margin: 0 auto;
}

nav {
  justify-content: space-between;
  align-items: center;

  /* position: fixed; */
  padding: 2rem 0;
  border-bottom: 1px solid black;
}

main {
  gap: 2rem;
}

#side-bar-1 *,
#side-bar-2 * {
  padding: 1.8rem;
  margin: 0.1rem;
  border-radius: 1rem;
}

#side-bar-1 *:hover:not(.active),
#side-bar-2 *:hover {
  background-color: #dad9d9;
  transition: 0.3s;
}

#side-bar-1 {
  border-bottom: 0.1rem solid;
}

#content-section {
  background-color: #eeeeee;
  padding: 0 2rem;
}

#page-title {
  margin: 2rem 0;
}

#intro {
  grid-template-columns: repeat(2, auto);
  background-color: white;
  padding: 2rem;
  border-radius: 1.5rem;
}

#dynamic-section-1 {
  background-color: white;
  padding: 2rem;
  margin-top: 2.5rem;
  border-radius: 1.5rem;
}

#account-tag {
  background-color: #d2eed2;
  margin: 0 2rem;
  padding: 0.4rem;
  border-radius: 0.5rem;
}

#expected-birthday p {
  margin: 1rem;
}

#modal-btns button {
  padding: 0.7rem;
  margin: 0 0.5rem;
  border: 0.25rem solid green;
  border-radius: 0.5rem;
}

#modal-btns button:hover,
#see-task-list-text:hover {
  opacity: 0.7;
  transition: 0.3s;
  cursor: pointer;
}

#give-birth-btn {
  background-color: green;
  color: white;
}

#register-parental-btn,
#stop-leave-btn,
#see-task-list-text {
  color: green;
  background-color: white;
}

#see-task-list-text {
  margin-top: 1rem;
}

#mini-navbar {
  position: relative;
}

#mini-navbar span {
  margin: 0 2rem;
}

#mini-navbar span:hover {
  opacity: 0.7;
  transition: 0.3s;
  cursor: pointer;
}

#mini-navbar .animation {
  background: #2df32d;
  position: absolute;
  height: 3%;
  bottom: -1%;
  z-index: 0;
  border-radius: 0.8rem;
}

#mini-navbar .start-basic-info {
  width: 10rem;
  left: 0;
}

#dynamic-content label {
  display: block; /* label is an inline element -> horizontal spacing don't take effect */
  margin: 2rem 0 -1rem 0;
}

#dynamic-content fieldset {
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
}

#account-settings-content span:nth-of-type(2) {
  display: inline-block;
  border: 0.2rem dashed green;
  border-radius: 1.5rem;
  padding: 1rem;
  color: green;
}

#account-settings-content span:nth-of-type(2):hover {
  opacity: 0.7;
  transition: 0.3s;
  cursor: pointer;
}

#modal-1-footer {
  grid-template-columns: repeat(2, auto);
}

/* CSS Pre-defined Classes */
.active {
  color: #16bd16;
}

.active-background {
  background-color: #e8ffe8;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-end {
  justify-content: flex-end;
}

.flex-start {
  justify-content: flex-start;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-between {
  justify-content: space-between;
}

.float-right {
  float: right;
}

.hide {
  display: none;
}

.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  animation: fade-slide 0.05s forwards;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 25rem;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 0.6rem;
  padding: 0.5rem;

  position: absolute;
  top: -3.5rem;
  left: -21rem;
  z-index: 1;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 90%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  padding: 20rem 0 0 0;
  border-radius: 2rem;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #00000066;

  opacity: 0; /* Start invisible */
    transition: opacity 0.5s ease;
}

.modal.show {
  display: block;
  opacity: 1; /* Fade in */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 2rem;
  width: 40%;
  border-radius: 1rem;
}

.close-modal {
  color: #aaaaaa;
  float: right;
  font-size: 3rem;
  font-weight: bold;
}

.close-modal:hover, .close-modal:focus {
  background-color: #e5e5e5;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s;
}


.cancel-btn {
  background-color: #fefefe;
  border: green;
  color: green
}
.cancel-btn:hover {
  opacity: 0.7;
  transition: 0.3s;
  cursor: pointer;
}

.submit-btn {
  background-color: green;
  border: green;
  color: white;
}

.submit-btn:hover {
  opacity: 0.7;
  transition: 0.3s;
  cursor: pointer;
}

.required {
  color: red;
}

td, th {
  padding: 0 5rem;
}

@keyframes fade-slide {
  0% {
    opacity: 0;
    transform: translateX(0%) translateY(2rem);
  }
  100% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
      transform: scale(0);
  }
  to {
      transform: scale(1);
  }
}

@keyframes zoomOut {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(0);
  }
}
