<div>
  <div class="flex">
    <img />
    <h2>Account Name</h2>
    <span id="account-tag" class="flex center">Already Reported</span>
  </div>
  <div id="expected-birthday" class="flex space">
    <p>Expected Birthday</p>
    <p>|</p>
    <p>2024/12/25</p>
  </div>
</div>
<div id="modal-btns">
  <div class="flex flex-end">
    <button id="give-birth-btn" type="button">
      Giving Birth Report
    </button>

    <!-- Modal 1 -->
    <div id="birth-report-modal" class="modal"></div>

    <!-- Modal 2 -->

    <!-- Modal 3 -->

    <button id="register-parental-btn" type="button">
      Register Parental Info
    </button>

    <div class="tooltip">
      <button id="stop-leave-btn" type="button">...</button>
      <span class="tooltiptext"
        >For user who has not given birth</span
      >
    </div>
  </div>
  <div id="see-task-list-text" class="flex flex-end">
    <p>See task list ></p>
  </div>
</div>